<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
    </array>
    <key>public.kern1.D</key>
    <array>
      <string>D</string>
      <string>Eth</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>AE</string>
      <string>E</string>
      <string>OE</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>M</string>
      <string>N</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>I</string>
      <string>Iacute</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>O</string>
      <string>Oslash</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.Q</key>
    <array>
      <string>Q</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>g</string>
      <string>h</string>
      <string>m</string>
      <string>n</string>
      <string>u</string>
    </array>
    <key>public.kern1.aacute</key>
    <array>
      <string>q</string>
    </array>
    <key>public.kern1.ae</key>
    <array>
      <string>ae</string>
      <string>e</string>
      <string>oe</string>
    </array>
    <key>public.kern1.b</key>
    <array>
      <string>b</string>
    </array>
    <key>public.kern1.backslash</key>
    <array>
      <string>backslash</string>
    </array>
    <key>public.kern1.bracketleft</key>
    <array>
      <string>bracketleft</string>
    </array>
    <key>public.kern1.bracketright</key>
    <array>
      <string>bracketright</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
    </array>
    <key>public.kern1.d</key>
    <array>
      <string>d</string>
    </array>
    <key>public.kern1.eight</key>
    <array>
      <string>eight</string>
    </array>
    <key>public.kern1.eight.dnom</key>
    <array>
      <string>eight.dnom</string>
      <string>eightinferior</string>
    </array>
    <key>public.kern1.eight.numr</key>
    <array>
      <string>eight.numr</string>
      <string>eightsuperior</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern1.five</key>
    <array>
      <string>five</string>
    </array>
    <key>public.kern1.five.dnom</key>
    <array>
      <string>five.dnom</string>
      <string>fiveinferior</string>
    </array>
    <key>public.kern1.five.numr</key>
    <array>
      <string>five.numr</string>
      <string>fivesuperior</string>
    </array>
    <key>public.kern1.four</key>
    <array>
      <string>four</string>
    </array>
    <key>public.kern1.four.dnom</key>
    <array>
      <string>four.dnom</string>
      <string>fourinferior</string>
    </array>
    <key>public.kern1.four.numr</key>
    <array>
      <string>four.numr</string>
      <string>foursuperior</string>
    </array>
    <key>public.kern1.germandbls</key>
    <array>
      <string>germandbls</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>i</string>
      <string>dotlessi</string>
    </array>
    <key>public.kern1.j</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>l</string>
    </array>
    <key>public.kern1.nine</key>
    <array>
      <string>nine</string>
    </array>
    <key>public.kern1.nine.dnom</key>
    <array>
      <string>nine.dnom</string>
      <string>nineinferior</string>
    </array>
    <key>public.kern1.nine.numr</key>
    <array>
      <string>nine.numr</string>
      <string>ninesuperior</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>o</string>
    </array>
    <key>public.kern1.one</key>
    <array>
      <string>one</string>
    </array>
    <key>public.kern1.one.dnom</key>
    <array>
      <string>one.dnom</string>
      <string>oneinferior</string>
    </array>
    <key>public.kern1.one.numr</key>
    <array>
      <string>one.numr</string>
      <string>onesuperior</string>
    </array>
    <key>public.kern1.p</key>
    <array>
      <string>p</string>
    </array>
    <key>public.kern1.parenleft</key>
    <array>
      <string>parenleft</string>
    </array>
    <key>public.kern1.period</key>
    <array>
      <string>period</string>
    </array>
    <key>public.kern1.quotedblbase</key>
    <array>
      <string>quotedblbase</string>
    </array>
    <key>public.kern1.quotedblleft</key>
    <array>
      <string>quotedblleft</string>
    </array>
    <key>public.kern1.quoteleft</key>
    <array>
      <string>quoteleft</string>
    </array>
    <key>public.kern1.quotesinglbase</key>
    <array>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern1.quotesingle</key>
    <array>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
    </array>
    <key>public.kern1.seven</key>
    <array>
      <string>seven</string>
    </array>
    <key>public.kern1.seven.dnom</key>
    <array>
      <string>seven.dnom</string>
      <string>seveninferior</string>
    </array>
    <key>public.kern1.seven.numr</key>
    <array>
      <string>seven.numr</string>
      <string>sevensuperior</string>
    </array>
    <key>public.kern1.six.dnom</key>
    <array>
      <string>six.dnom</string>
      <string>sixinferior</string>
    </array>
    <key>public.kern1.six.numr</key>
    <array>
      <string>six.numr</string>
      <string>sixsuperior</string>
    </array>
    <key>public.kern1.space</key>
    <array>
      <string>space</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
    </array>
    <key>public.kern1.three</key>
    <array>
      <string>three</string>
    </array>
    <key>public.kern1.three.dnom</key>
    <array>
      <string>three.dnom</string>
      <string>threeinferior</string>
    </array>
    <key>public.kern1.three.numr</key>
    <array>
      <string>three.numr</string>
      <string>threesuperior</string>
    </array>
    <key>public.kern1.two.dnom</key>
    <array>
      <string>two.dnom</string>
      <string>twoinferior</string>
    </array>
    <key>public.kern1.two.numr</key>
    <array>
      <string>two.numr</string>
      <string>twosuperior</string>
    </array>
    <key>public.kern1.underscore</key>
    <array>
      <string>underscore</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
    </array>
    <key>public.kern1.w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern1.y</key>
    <array>
      <string>y</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
    </array>
    <key>public.kern1.zero</key>
    <array>
      <string>zero</string>
    </array>
    <key>public.kern1.zero.dnom</key>
    <array>
      <string>zero.dnom</string>
      <string>zero.dnom.zero</string>
      <string>zeroinferior</string>
    </array>
    <key>public.kern1.zero.numr</key>
    <array>
      <string>zero.numr</string>
      <string>zero.numr.zero</string>
      <string>zerosuperior</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>AE</string>
    </array>
    <key>public.kern2.B</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>H</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>P</string>
      <string>R</string>
    </array>
    <key>public.kern2.C</key>
    <array>
      <string>C</string>
      <string>G</string>
      <string>O</string>
      <string>Oslash</string>
      <string>OE</string>
      <string>Q</string>
    </array>
    <key>public.kern2.Eth</key>
    <array>
      <string>Eth</string>
    </array>
    <key>public.kern2.I</key>
    <array>
      <string>I</string>
      <string>Iacute</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>ae</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>g</string>
      <string>o</string>
      <string>oe</string>
      <string>q</string>
    </array>
    <key>public.kern2.b</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>k</string>
      <string>l</string>
    </array>
    <key>public.kern2.bracketright</key>
    <array>
      <string>bracketright</string>
    </array>
    <key>public.kern2.comma</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern2.eight.dnom</key>
    <array>
      <string>eight.dnom</string>
      <string>eightinferior</string>
    </array>
    <key>public.kern2.eight.numr</key>
    <array>
      <string>eight.numr</string>
      <string>eightsuperior</string>
    </array>
    <key>public.kern2.exclam</key>
    <array>
      <string>exclam</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern2.five.dnom</key>
    <array>
      <string>five.dnom</string>
      <string>fiveinferior</string>
    </array>
    <key>public.kern2.five.numr</key>
    <array>
      <string>five.numr</string>
      <string>fivesuperior</string>
    </array>
    <key>public.kern2.four.dnom</key>
    <array>
      <string>four.dnom</string>
      <string>fourinferior</string>
    </array>
    <key>public.kern2.four.numr</key>
    <array>
      <string>four.numr</string>
      <string>foursuperior</string>
    </array>
    <key>public.kern2.germandbls</key>
    <array>
      <string>germandbls</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>i</string>
      <string>dotlessi</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern2.m</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>r</string>
      <string>u</string>
    </array>
    <key>public.kern2.nine.dnom</key>
    <array>
      <string>nine.dnom</string>
      <string>nineinferior</string>
    </array>
    <key>public.kern2.nine.numr</key>
    <array>
      <string>nine.numr</string>
      <string>ninesuperior</string>
    </array>
    <key>public.kern2.one.dnom</key>
    <array>
      <string>one.dnom</string>
      <string>oneinferior</string>
    </array>
    <key>public.kern2.one.numr</key>
    <array>
      <string>one.numr</string>
      <string>onesuperior</string>
    </array>
    <key>public.kern2.p</key>
    <array>
      <string>p</string>
    </array>
    <key>public.kern2.parenright</key>
    <array>
      <string>parenright</string>
    </array>
    <key>public.kern2.question</key>
    <array>
      <string>question</string>
    </array>
    <key>public.kern2.quotedblleft</key>
    <array>
      <string>quotedblleft</string>
    </array>
    <key>public.kern2.quotedblright</key>
    <array>
      <string>quotedblright</string>
    </array>
    <key>public.kern2.quoteleft</key>
    <array>
      <string>quoteleft</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
    </array>
    <key>public.kern2.seven.dnom</key>
    <array>
      <string>seven.dnom</string>
      <string>seveninferior</string>
    </array>
    <key>public.kern2.seven.numr</key>
    <array>
      <string>seven.numr</string>
      <string>sevensuperior</string>
    </array>
    <key>public.kern2.six.dnom</key>
    <array>
      <string>six.dnom</string>
      <string>sixinferior</string>
    </array>
    <key>public.kern2.six.numr</key>
    <array>
      <string>six.numr</string>
      <string>sixsuperior</string>
    </array>
    <key>public.kern2.space</key>
    <array>
      <string>space</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
    </array>
    <key>public.kern2.three.dnom</key>
    <array>
      <string>three.dnom</string>
      <string>threeinferior</string>
    </array>
    <key>public.kern2.three.numr</key>
    <array>
      <string>three.numr</string>
      <string>threesuperior</string>
    </array>
    <key>public.kern2.two.dnom</key>
    <array>
      <string>two.dnom</string>
      <string>twoinferior</string>
    </array>
    <key>public.kern2.two.numr</key>
    <array>
      <string>two.numr</string>
      <string>twosuperior</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.y</key>
    <array>
      <string>y</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
    </array>
    <key>public.kern2.zero.dnom</key>
    <array>
      <string>zero.dnom</string>
      <string>zero.dnom.zero</string>
      <string>zeroinferior</string>
    </array>
    <key>public.kern2.zero.numr</key>
    <array>
      <string>zero.numr</string>
      <string>zero.numr.zero</string>
      <string>zerosuperior</string>
    </array>
  </dict>
</plist>
